.logotipo {
	background-image: url("../img/logotipo.png");
 	background-position: 10px 10px; 	
  	background-repeat: no-repeat;
  	height: 100px;
  	width: 150px;  	
  	float:left;
  	padding-bottom: 10px;
}

.logotipo-mini {
	background-image: url("../img/logotipo_mini.png"); 	 
  	background-repeat: no-repeat;
  	height: 26px;
  	width: 35px;  	
  	float:left;
  	padding-bottom: 10px;
  	margin-top: 5px;
}

.datatable > tfoot > tr > th > input {
	width: 90%;
}
.datatable tfoot tr th input:focus {
	width: 90% !important;
}

.tool-top .hbtns {
	float: right;
	margin-top: 0px;
	font-size: inherit !important;
	margin-bottom: 0px;
}

.tool-top .btn-group {
	float: right !important;
}

section .lead {
	color: #5a5a5a;
}

header {
	padding-bottom: 70px;
}

header .navbar .nav > li:hover {
	background-color: #f2f2f2;
	color: blue;
}

header .navbar .nav > li > a:hover {
	color: #4183c4;
}

header .navbar .nav > li > a {
 	padding: 10px 10px;
}

.nav-top-menu {
	padding-left: 10px;
}
 
.where-header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.ativacoes-pendentes dt, .ativacoes-pendentes dd {
	line-height: 30px;
}
  
.btn-large [class^="cicon-"],
.btn-large [class*=" cicon-"] {
 	margin-top: 4px;
}

.btn-small [class^="cicon-"],
.btn-small [class*=" cicon-"] {
  	margin-top: 0;
}
.btn-mini [class^="cicon-"],
.btn-mini [class*=" cicon-"] {
  	margin-top: -1px;
}

[class^="cicon-"],
[class*=" cicon-"] {
  	display: inline-block;
  	width: 36px;
  	height: 28px;
  	*margin-right: .3em;
  	line-height: 23px;
  	vertical-align: middle;
  	background-image: url("../img/glyphicons-halflings.png");
  	background-repeat: no-repeat;
  	margin-top: 1px;
}

.cicon-link {
  	background-image: url("../img/glyphicons_050_link.png");
}

.cicon-settings {
  	background-image: url("../img/glyphicons_280_settings.png");
}

.cicon-home {
  	background-image: url("../img/glyphicons_020_home.png");	
}

.cicon-rss {
  	background-image: url("../img/glyphicons_417_rss.png");	
}

.cicon-new_window {
  	background-image: url("../img/glyphicons_151_new_window.png");	
}

.cicon-new_window90 {
	width:26px;
	height:26px;
	background-position:center;
  	background-image: url("../img/glyphicons_151_new_window90.png");	
}

.cicon-remove_2 {
	width:20px;
	height:20px;
	background-position:center;
  	background-image: url("../img/glyphicons_207_remove_2.png");	
}

.cicon-riflescope {
  	background-image: url("../img/glyphicons_377_riflescope.png");	
}

.cicon-database-plus {
  	background-image: url("../img/glyphicons_141_database_plus.png");
}

.cicon-pie-chart {
  	background-image: url("../img/glyphicons_042_pie_chart.png");
}

.cicon-calendar {
  	background-image: url("../img/glyphicons_045_calendar.png");
}

.cicon-parents {
	background-image: url("../img/glyphicons_024_parents.png");
}

.cicon-refresh {
	background-image: url("../img/glyphicons_081_refresh.png");
}

.cicon-suitcase {
	background-image: url("../img/glyphicons_357_suitcase.png");
}

.cicon-cogwheels {
	background-image: url("../img/glyphicons_137_cogwheels.png");
}

.cicon-share-alt {
	background-image: url("../img/glyphicons_308_share_alt.png");
}

.cicon-shopping_cart {
	background-image: url("../img/glyphicons_202_shopping_cart.png");
}

.cicon-plus {
	background-image: url("../img/glyphicons_432_plus.png");
}

.cicon-list {
	background-image: url("../img/glyphicons_114_list.png");
}

.cicon-group {
	background-image: url("../img/glyphicons_043_group.png");
}

.cicon-inbox_in {
	background-image: url("../img/glyphicons_134_inbox_in.png");
}
.cicon-git-compare {
	background-image: url("../img/glyphicons_428_git_compare.png");
}

.cicon-git-branch {
	background-image: url("../img/glyphicons_422_git_branch.png");
}   

.cicon-nameplate {
	background-image: url("../img/glyphicons_352_nameplate.png");
}

.cicon-cogwheel {
	background-image: url("../img/glyphicons_136_cogwheel.png");
}

.cicon-table {
	background-image: url("../img/glyphicons_119_table.png");
}

.cicon-transfer {
	background-image: url("../img/glyphicons_457_transfer.png");
}

.cicon-message-plus {
	background-image: url("../img/glyphicons_124_message_plus.png");
}

.cicon-log-book {
	background-image: url("../img/glyphicons_087_log_book.png");
}

.cicon-search {
	background-image: url("../img/glyphicons_027_search.png");
}

.cicon-create {
	background-image: url("../img/glyphicons_423_git_create.png");
}
 
.cicon-refresh {
	background-image: url("../img/glyphicons_081_refresh.png");
}

.cicon-refresh-in-progress {
	background-image: url("../img/glyphicons_081_refresh_in_progress.gif");
	width: 14px;
	height: 14px;
	}

.menu-right>.nav-tabs>li:not(.active) {
  	background-color: #f2f2f2;
}

.controls + .controls {
	margin-top: 10px;	
}

.native-error {
	display: none;	
}

.native-error-message {
	color: #b94a48;
}

input.cerror, select.cerror, textarea.cerror {
  	border-color: #b94a48;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.cerror:focus, select.cerror:focus, textarea.cerror:focus {
  	border-color: #953b39;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.alert h4 {
  margin: 10px 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

	header {
		padding-bottom: 0px;	
	}
	
  	.top-menu .nav-tabs.nav-stacked>li>a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
  	}
}

@media (max-width: 767px) {
	
	header {
		padding-bottom: 0px;	
	}
	
  	.top-menu .nav-tabs.nav-stacked>li>a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
  	}
  	
  	div.tooltip {
  		display: none !important;
  	}
}


